.details-title {
  position: relative;
  max-width: 400px;
  z-index: 1;
}

.details-title-heading {
  color: #3a3a3a;
  font-size: 64px;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 14px;
}

.details-title-save {
  background: #e3e3e3;
  outline: none;
  border: none;
  border-radius: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  font-family: "Avenir Next", Arial, sans-serif;
  text-transform: uppercase;
  padding: 24px 14px 24px 14px;
  transition: .2s;
  cursor: pointer;
}

.details-title-save:hover {
  transform: scale(1.1);
  background: #d0caca;
}

@media screen and (max-width: 760px) {

  .details-title {
    width: 100%;
    margin-top: 36px;
  }

  .details-title-heading {
    font-size: 36px;
  }

  .details-title-save {
    display: none;
  }

}
