.filters {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  padding-bottom: 11px;
  padding-left: 23px;
  border-bottom: 3px solid rgba(#e7e7e7, 0.56);
}

@media screen and (max-width: 1080px) {

  .filters {
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 0 15px 15px;
  }
  
}
