@font-face {
	font-family: "Andale Mono";
	src: local("AndaleMono"), url(./fonts/AndaleMono.eot);
	src: local("AndaleMono"), url(./fonts/AndaleMono.eot?#iefix) format("embedded-opentype"),
	url(./fonts/AndaleMono.woff) format("woff"),
	url(./fonts/AndaleMono.ttf) format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
  font-family: "Avenir Next";
  src: local("AvenirNext"), url(./fonts/AvenirNext-Bold.eot);
  src: local("AvenirNext"), url(./fonts/AvenirNext-Bold.eot?#iefix) format("embedded-opentype"),
  url(./fonts/AvenirNext-Bold.woff) format("woff"),
	url(./fonts/AvenirNext-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-size-adjust: none;
}

html {
  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Avenir Next", Arial, sans-serif;
  font-size: 24px;
}

.burgerOpened-enter {
  transform: translateX(-100vw);
}

.burgerOpened-enter.burgerOpened-enter-active {
	transform: translateX(0vw);
  transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.burgerOpened-leave {
  transform: translateX(0vw);
}

.burgerOpened-leave.burgerOpened-leave-active {
	transform: translateX(-100vw);
	transition: all 400ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
